<!-- layout.nunjucks -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:400,700,900|Open+Sans:300,400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/main.css">
  {% if cssFile %} 
    <link rel="stylesheet" href="{{ cssFile }}">
  {% endif %}
</head>
<body class="{{ bodyClass }}">
  <div id="main">
    {% import 'macros/nav.njk' as nav %}
    {% block content %} {% endblock %}
    {# include 'partials/form-modal.njk' #}
  </div>
  {% include 'partials/footer.html' %}
  <button class="buy">Click to Buy! <strong>$10</strong></button>
  <script src="https://checkout.stripe.com/checkout.js"></script>
  <script src="/assets/js/main.js"></script>
  {% if jsFile %} 
    <script src="{{ jsFile }}"></script>
  {% endif %}
</body>
</html>