<div class="cta-schedule-a-call py-5 bg-light">
  <div class="container">
    <div class="row text-center align-items-center ">
      <div class="col-12 col-md-6 text-md-left">
        <p class="m-0">Learn how Bambee can help your business</p>
        <h2 class="h2 text-primary m-0">Schedule an Overview Call</h2>  
      </div>
      <div class="col-12 col-md-6 text-md-right">
          <button class="btn btn-success my-2 my-lg-0" data-toggle="modal" data-target="#formModal" type="button">Schedule Overview Call</button>
      </div>
    </div>
  </div>
</div>