<div class="pricing">
  <div class="row card-deck text-center justify-content-center">
    <!-- Table #1  -->
    <div class="card text-xs-center">
      <div class="card-header bg-white border-0">
        <h2 class="text-size-26 text-bold">Monthly Maintenance</h2>
      </div>
      <div class="card-body">
        <i class="material-icons text-size-58 text-primary m-0">location_city</i>
        <h3 class="text-primary text-size-48 text-bold m-0">$199</h3>
        <p class="m-0">Per Month</p>
        <p class="text-size-10">Plus One-Time <br> Activation Fee of:</p>
        <p class="text-bold">$400</p>
      </div>
      <div class="card-footer bg-white border-0">
        <a href="#" class="btn btn-primary mt-2">Choose Plan</a>
      </div>
    </div>
    <!-- Table #1  -->
    <div class="card text-xs-center">
      <div class="card-header bg-white border-0">
        <h2 class="text-size-26 text-bold">Service Call </h2>
      </div>
      <div class="card-body">
        <i class="material-icons text-size-58 m-0 text-primary">add_location</i>
        <h3 class="text-primary text-size-48 text-bold m-0">$200</h3>
        <p class="m-0">Per Service</p>
      </div>
      <div class="card-footer bg-white border-0">
        <a href="#" class="btn btn-primary mt-2">Choose Plan</a>
      </div>
    </div>
  </div>
</div>
