<section class="section trust-bar">
  <div class="container">
    <h2 class="title is-3 has-text-centered">Trusted By Top Companies</h2>
    <div class="columns is-mobile is-multiline is-centered is-vcentered is-variable is-1-mobile is-3-tablet is-8-desktop">
      <div class="column is-narrow  has-text-centered">
        <figure class="image is-128x128 is-inline-block">
          <img src="https://bulma.io/images/placeholders/128x128.png">
        </figure>
      </div>
      <div class="column is-narrow  has-text-centered">
        <figure class="image is-128x128 is-inline-block">
          <img src="https://bulma.io/images/placeholders/128x128.png">
        </figure>
      </div>
      <div class="column is-narrow  has-text-centered">
        <figure class="image is-128x128 is-inline-block">
          <img src="https://bulma.io/images/placeholders/128x128.png">
        </figure>
      </div>
      <div class="column is-narrow  has-text-centered">
        <figure class="image is-128x128 is-inline-block">
          <img src="https://bulma.io/images/placeholders/128x128.png">
        </figure>
      </div>
      <div class="column is-narrow  has-text-centered">
        <figure class="image is-128x128 is-inline-block">
          <img src="https://bulma.io/images/placeholders/128x128.png">
        </figure>
      </div>
    </div>
  </div>
</section>