.homepage {
  .hero {
    background: linear-gradient(45deg,rgba(0, 130, 200, 0.9),rgba(100, 65, 165, 0.9)), url(/assets/images/hero-bg.jpg)no-repeat center;
    background-size: cover;
    .btn-wrap {
      padding:1rem 0;
    }
  }
}
.sticky-header {
  border-top: 1px solid #e9e8eb;
  border-bottom: 1px solid #e9e8eb;
  position: sticky;
  top: 52px;
  z-index: 3;
  .header {
    padding: 1rem;
  }
}
.is-sticky {
  position: fixed;
  top: 70px;
  width: 100%
}
