.modal {
  display: block;
  transition: opacity .3s ease;
}
.modal-content {
  transition: all .3s ease;
  .card {
    padding: 1.5rem;
  }
}
.modals-enter {
  opacity: 0;
}
.modals-leave-active {
  opacity: 0;
}

.modals-enter .modal-content,
.modals-leave-active .modal-content {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}