.navbar {
  transition: .3s ease;
  .navbar-dropdown .navbar-item {
    color: black!important;
  } 
}
.sticky {
  &.navbar {
    background: white!important;
    .navbar-link {
      color: #000 !important;
    }
    .navbar-item { 
      color:#000!important
    }
  }
}
